@import "../../styles/Variables/Variables.scss";

.licensed_header h1 {
  font-size: 24px;
  font-weight: $font-semiBold;
  color: $whitish-blue;
  margin-bottom: 30px;

  @media (max-width: 767px) {
    font-size: 22px;
    margin-bottom: 20px;
  }
}

.generatimage {
  .generat_left_contain {
    padding-left: 0px;
    padding-right: 5px;
  }
  .generat_right_contain {
    padding-right: 0px;
  }
  .bg_box {
    border-radius: 10px;
    background: #30334E;
    padding: 20px;
    margin: 0px;
    height: calc(100% - 15px);

    h5 {
      color: $Primary-text;
      font-size: 18px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
      margin-bottom: 20px;
    }

    h6 {
      color: $Primary-text;
      font-size: 16px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
      margin-bottom: 20px;
    }

    .radio_head {
      color: $Primary-text;
      font-size: 14px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
      margin-bottom: 10px;
    }

    #advance_box {
      label {
        color: $Primary-text;
        font-size: 14px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        margin-bottom: 10px;
      }

      #form_control {
        padding: 15px;
        height: auto;
        color: #D7D8ED;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        border-radius: 10px;
        border: 1px solid #595B75;
        background-color: transparent;
        &::placeholder {
          color: $table-arrow-gray !important; 
        }
      }

      textarea {
        color: #7B7C95 !important;
      }

      option {
        background: #000;
        padding: 5px;
        font-size: 14px;
      }

      option:hover {
        background: #000;
        padding: 5px;
        font-size: 14px;
      }

      ::placeholder {
        color: $white;
      }
    }
    &.bg_box_contain{
      height: auto;
      margin-bottom: 15px;
    }
  }

  .image_upload_flex {
    display: flex;
    justify-content: space-between;
    gap: 15px;
  }
  .image_upload_contain {
    width: 200px;
  }

  .imageupload_textarea_contain {
    width: 100%;
  }

  .image_upload {
    width: 200px;
    border-radius: 10px;
    border: 2px dashed #464963;
    display: flex;
    padding: 50px 10px;
    flex-direction: column;
    align-items: center;
    gap: 14px;

    span {
      font-size: 16px;
      font-weight: $font-semiBold;
      color: $whitish-blue;
    }

    @media (max-width: 768px) {
      width: 100%;
      max-width: 100%;
    }

    img {
      display: flex;
      width: 40px;
      width: 40px;
      height: 40px;
      align-items: center;
      gap: 14px;
    }

    h6 {
      color: var(--Primary-text, #D7D8ED);
      text-align: center;
      font-size: 16px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
    }

    .or {
      font-size: 16px;
      color: $light-gray;
    }

    .blue_b_btn {
      border-radius: 10px;
      border: 1px solid #666CFF;
      color: #666CFF;
      padding: 10px 22px;
      
      font-size: 16px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
    }
  }

  .imageupload_type {
    height: 100%;

    #advance_box {
      height: 100%;
    }

    #form_control {
      height: 100% !important;
      border-radius: 6px;
      border: 1px solid #595B75;
      color: #7B7C95 !important;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }
  }

  .tag_outer {
    width: 100%;
    height: calc(100% - 59px);
    overflow-y: auto;
    min-height: 100px;

    ul {
      margin: 0;
      padding: 0;

      li {
        color: #FFF;
        font-size: 13px;
        font-style: normal;
        font-weight: 400;
        display: inline-block;
        line-height: normal;
        border-radius: 50px;
        background: #3B3E59;
        padding: 8px 20px;
        margin-right: 10px;
        margin-bottom: 10px;
      }
    }
  }

  .m_20
  {
    margin-left: 20px;
  }
  
  .ml_8
  {
    margin-left: 8px;
  }
  .mt_5
  {
    margin-top: 5px;
  }

  .gradian_bt {
    color: var(--white, #FFF);
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    display: flex;
    width: 180px;
    padding: 12px 22px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 6px;
    background: linear-gradient(90deg, #33337B 0%, #BD48D4 100%);
  }

  .gradian_bt:hover {
    background: linear-gradient(90deg, #25255f 0%, #9c34b1 100%);
  }

  .generate_vidio_upload {
    margin-bottom: 40px;
   h3 {
      color: #fff;
      font-size: 14px;
      font-style: normal;
      font-weight: 600;
      text-align: center;
      line-height: normal;
      margin: 15px 0px 0px;
    }
    .image_upload {

      display: flex;
      height: 200px;
      padding: 10px;
      justify-content: center;
      align-items: center;
      gap: 10px;
      width: 100%;
      flex-shrink: 0;
      align-self: stretch;
      border-radius: 6px;
      border: 2px dashed #464963;

      img {
        object-fit: cover;
      }

      span {
        color: #D7D8ED;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;

      }
    }
    
  }

}