@import "../../styles/Variables/Variables.scss";

.licensedwork {

    h4 {
        color: $Primary-text;
        font-size: 26px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
    }

    .card_dash_box_r {
        text-align: right;
        margin-top: 34px;
        display: flex;
        justify-content: end;
        gap: 17px;


        .blue_b_btn {
            color: #6D788D;
            font-size: 16px;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
            border-radius: 10px;
            border: 1px solid #6D788D;
            width: 120px;
            height: 44px;
            padding: 12px 36px;
            justify-content: center;
        }

        .red_b_btn {
            border-radius: 10px;
            background: linear-gradient(90deg, #33337B 0%, #BD48D4 100%);
            width: 180px;
            padding: 12px 22px;
            justify-content: center;
            align-items: center;
            color: var(--white, #FFF);
            font-size: 16px;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
        }
    }

    .advanced_search_outer {
        border-radius: 10px;
        background: $Card-Color;
        padding: 20px;
        margin-top: 23px;

        h5 {
            color: $Primary-text;
            font-size: 20px;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
            margin-bottom: 32px;
        }

        .radio_head {
            color: $Primary-text;
            font-size: 14px;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
            margin-bottom: 10px;
        }

        #advance_box {
            label {
                color: $Primary-text;
                font-size: 14px;
                font-style: normal;
                font-weight: 600;
                line-height: normal;
                margin-bottom: 10px;
            }

            #form_control {
                padding: 18px 24px;
                height: auto;
                color: $white;
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
                border-radius: 10px;
                border: 1px solid #595B75;
                background-color: transparent;
            }

            option {
                background: #000;
                padding: 5px;
                font-size: 14px;
            }

            option:hover {
                background: #000;
                padding: 5px;
                font-size: 14px;
            }

            ::placeholder {
                color: $white;
            }
        }

        .row_check_outer {
            display: flex;
            gap: 30px;

            @media (max-width: 992px) {
                display: block;
                gap: 30px;

            }

        }



    }

}